@import '../../styles/base/variable';
.countdown-container {
  text-align: center;
  margin: 48px 0 20px 0;

  .countdown-progress {
    margin: 10px 220px;
    display: flex;
    align-items: center;
    p {
      flex: 1;
      background: rgba(108, 200, 255, 0.2);
      height: 12px;
      span {
        display: block;
        width: 88%;
        height: 12px;
        background: $primary-color;
      }
    }
    .progress-text {
      width: 70px;
    }
  }

  .block-upgrade {
    margin-top: 8px;
    //margin-bottom: 16px;
    font-size: 32px;
    color: $text-color-primary;
    .current-block {
      color: $primary-color;
    }

    @media only screen and (max-width: $break-middle) {
      font-size: 24px;
    }
  }

  .countdown-info {
    //padding-top: 20px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    color: $text-color-default;
    line-height: 1.8rem;

    @media only screen and (max-width: $break-middle) {
      font-size: 14px;
    }

    ul {
      display: flex;
      li {
        flex: 1;
        padding: 0 42px;
        &:first-child {
          text-align: right;
        }
        &:last-child {
          text-align: left;
        }
      }
    }
    .fork-remark {
      font-size: 14px;
      font-weight: 400;

      @media only screen and (max-width: $break-middle) {
        font-size: 13px;
      }
    }
  }
}

.history-list-container,.avggas-chart-container{
  @media only screen and (max-width: $break-horizontal) {
    margin-top:18px;
  }
}

.intro-container {
  h3 {
    text-align: center;
    color: $text-color-primary;
  }

  h4 {
    font-weight: 600;
    padding-top: 16px;
    line-height: 30px;
    color: $text-color-primary;
  }
  .intro-content {
    line-height: 26px;
    .sub-item {
      padding-left: 13px;
    }
  }

  .eip-info {
    display: flex;
    flex-direction:row;

    @media only screen and (max-width: $break-horizontal) {
      flex-direction:column;
    }
   

    li {
      flex: 1;
      color:#fff;
      text-align: center;
      height: 88px;
      line-height: 24px;
      margin:8px 28px 0 28px;
      h3{
        color:#fff;
        margin: 8px auto ;
      }
      a{
        display: block;
        width:100%;
        height: 100%;
        color:#fff;
        text-decoration: none;
        &:hover{
          color:#fff;
         
        }
      }
     
    }
  }
}

.thum-chart{
  cursor: pointer;
  position: absolute;
}
table tr td{
  &.em-cell-primary{
    color: #fff !important;
    background-color: #2A69CF;
    
  }
  &.em-cell-secondary{
    background-color: rgba(42,105,207,0.2);
  }
}

