@import '../../styles/base/variable';
.locale-icon {
  display: inline-block;
  margin-right: 7px;
  vertical-align: text-bottom;
  width: 22px;
  height: 16px;
  background: no-repeat center center;
  background-size: 22px 16px;

  &.locale-zh-CN {
    background: url(sprite_languages.png) 0 0 no-repeat;
    background-size: 22px 34px;
  }
  &.locale-en-US {
    background: url(sprite_languages.png) 0 -17px no-repeat;
    background-size: 22px 34px;
  }
}

.rc-select-selection--single .rc-select-selection__rendered,
.ant-select-selection {
  background: transparent;
  border: 0;
  &:focus,
  &:active {
    border: 0;
  }
  width: 100px;

  @media only screen and (max-width: $break-small) {
    width: 80px;
  }
}

.rc-select-selection {
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.65);
  border: 0;
  &:hover{
    border: 0;
  }
}
.rc-select-enabled .rc-select-selection:hover{
  border: 0;
  box-shadow: none;
}

.option-item {
  width: 75px;
  display: inline-block;
  text-align: left;

  @media only screen and (max-width: $break-small) {
    width: 70px;
    font-size: 12px;
  }
}
