@import '../../../styles/base/variable';
.chunk {
  width: 100%;
  display: inline-block;
  height: 100%;
  border-radius: 4px;
  background-clip: border-box;
  &:hover {
    cursor: pointer;
  }

  &.chunk-blue {
    background: #2A69CF;
    &:hover {
      box-shadow: 0px 0px 8px 0px #2A69CF;
      cursor: pointer;
    }
  }
  &.chunk-purple {
    background: #AF49FD;
    &:hover {
      box-shadow: 0px 0px 8px 0px #AF49FD;
      cursor: pointer;
    }
  }
  &.chunk-green {
    background: #47B752;
    &:hover {
      box-shadow: 0px 0px 8px 0px#47B752;
      cursor: pointer;
    }
  }
  &.chunk-yellow {
    background: #FDB82A;
    &:hover {
      box-shadow: 0px 0px 8px 0px #FDB82A;
      cursor: pointer;
    }
  }
  &.chunk-red {
    background: #FD3C2F;
    &:hover {
      box-shadow: 0px 0px 8px 0px #FD3C2F;
      cursor: pointer;
    }
  }
}
