@import './variable';
h1{
  font-size:24px;
  color:rgba(0,0,0,0.85);
}
h2{
  font-size: 18px;
}
h3{
  font-size: 16px;
}
h4{
  font-size: 14px;
}

.md-font{
  font-size: 16px;
}
.sm-font{
  font-size: 14px;
}
.lg-font{
  font-size:24px;
}

.page-width{
  max-width:1180px;
  margin:0 auto;
}
.view-width{
  max-width:1200px;
  margin-right: auto;
  margin-left: auto;
  padding:0 20px;
  
  @media only screen and (max-width: $break-middle) {
    padding:0 4px;
  }
  @media only screen and (max-width: $break-small) {
    padding:0 4px;
  }
}

.em-text{
  color:$primary-color;
}


.cell-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

a.link:hover {
  //color:#149718;
  color:lighten($primary-color,10%) ;
  text-decoration: none;

  
}
.link,
a.link,
a.link,
a.link a:visited {
  color:$primary-color;
  cursor: pointer;
  text-decoration: none;
}

.relative{
  position: relative;
}


i.cell-icon {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: no-repeat center center;
  background-size: 18px 18px;
  vertical-align: middle;
  &.token-name-icon {
    vertical-align: top;
    margin-right: 5px;
    position: absolute;
    left:0px;
    top: -1px;
    @media only screen and (max-width: $break-middle) {
      display: none;
    }
    @media only screen and (max-width: $break-small) {
      display: none;
    }
  }

  &.check-mark-icon{
    width:10px;
    border: 2px solid #F5A623;
    border-width: 0 2px 2px 0;
    transform:rotate(45deg);
    margin-right:9px;
    vertical-align: baseline;
  }

  &.zoom-icon{
    position: absolute;
    right: 0;
    cursor: pointer;
    background: url(icon_zoom.png) no-repeat;
    background-size: 18px 18px;

  }
}




.with-icon-left {
  position: relative;
  white-space: nowrap;
  padding-left: 25px;
 
  
}
table > thead > tr > th.with-icon-left-header {
  padding-left: 45px !important;
  @media only screen and (max-width: $break-middle) {
    padding-left: 25px !important;
  }
  @media only screen and (max-width: $break-small) {
    padding-left: 25px !important;
  }
  // &:first-child{
  //   padding-left: 25px !important;
  // }
  // @media only screen and (max-width: $break-middle) {
  //   padding-left: 30px !important;
  // }
}


.margin-top-xlg {
  margin-top: 40px;
}

.margin-top-lg {
  margin-top: 25px;
}

.margin-top-md {
  margin-top: 15px;
}

.margin-top-sm {
  margin-top: 10px;
}

.margin-bottom-lg {
  margin-bottom: 25px;
}

.margin-bottom-md {
  margin-bottom: 15px;
}

.margin-bottom-sm {
  margin-bottom: 10px;
}

.card{
  padding:18px 16px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.16);

  &.hightlight{
    border-top: 4px solid $primary-color;
  }
}


.nopadding-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
}
.nopadding-left {
  padding-left: 0 !important;
}
.smpadding-sides {
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.text-center{
  text-align: center !important;
}